* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    font-family: 'Archivo';
    background-color: #F7F7F5;
}

.return-button{
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
}

.return-button a{
    text-decoration: none;
    color:#333131;
}

.return-button p:hover{
    color: #636060;
}

.login-panel{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-panel h1{
    max-width: 400px;
    font-size: 1.8rem;
    font-weight: 350;
    display: flex;
    flex-direction: row;
    text-wrap-mode: wrap;
}

.login-panel a{
    color: #333131;
    font-size: 0.9rem;
    margin-right: auto;
}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.credentials label{
    font-size: 0.9rem;
    color: #4c4b4b;
}
.credentials input{
    max-width: 400px;
    height: 40px;
    padding: 5px;
    border: 1px solid #444444;
    background-color: #F7F7F5;
    border-radius: 4px;
    font-size: 1rem;
    color: #141313;
    font-family: 'Archivo';
    align-items: center;
    justify-content: center;
}

.login-panel button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-family: 'Archivo';
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #333131;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: auto;
}

.admin-panel{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 500px;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-panel h1{
    font-size: 1.8rem;
    font-weight: 400;
    color: #333131;
}

.hidden{
    display: none;
}