* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    font-family: 'Archivo';
    background-color: #F7F7F5;
    outline: blue 1px solid;
}

header{
    width: 100vw;
    height: 30px;
    background-color: #3d3b3b;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    transition: transform 0.1s ease;
    z-index: 10;
    cursor: default;

    font-size: 0.8rem;
}

.scrolled header {
    transform: translateY(-100%);
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-right: 15px;

}

.header-text-wrapper {
    display: flex;
    flex-direction: row;
    padding: 5px 25px;
    align-items: center;
    justify-content: space-between;
    
}

.header-links a{
    color: white;
    text-decoration: none;
    
}

.header-links a:hover{
    color:#999999;
}

.navigation-wrapper {
    width: 100vw;
    height: 60px;
    background-color: #f4f1ef;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    position: fixed;
    align-items: center;
    top: 30px;
    left: 0;

    transition: top 0.1s ease;
    z-index: 11;
    cursor: default;
    
}

.scrolled .navigation-wrapper{
    top: 0;
}

.navigation{
    padding:15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation-store-title{
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 15px;
}

.navigation-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 15px;
}

.navlink{
    text-decoration: none;
    color: #2B2B2B;
    font-weight: 500;
    padding: 5px 10px;
    font-weight: 300;
    
}

.navlink:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    

    background-color:rgba(175, 175, 175, 0.072);

}

.navlink:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: width 0.2s ease;
}


.dropdown-menu a {
    padding: 10px 14px;
    text-decoration: none;
    color: #2B2B2B;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

.menu-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;

    background: #f4f1ef;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.15);
    z-index: 10;
    visibility: hidden;
    opacity: 0;

}

.quotes:hover .menu-dropdown-content {
    visibility: visible;
    opacity: 1;
}

.menu-dropdown-content:hover {
    visibility: visible;
    opacity: 1;
}

.menu-dropdown-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
}

.menu-dropdown-label{
    font-size: .9rem;
    font-weight: 450;
    color: #2f2f2feb;
    padding-bottom: 5px;
}

.menu-dropdown-rows{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-dropdown-item{
    text-decoration: none;
    font-weight: 450;
    font-size: .9rem;
}


.search{
    width: 120px;
    height: 30px;
    
    border-radius: 35px;
    background-color: rgb(79, 77, 77);
    display: flex;
}

.search i{
    color: white;
    font-size: 0.9rem;
    display: flex;
    width: 30px;
    z-index: 50;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}

.search input{
    width: 90px;
    height: 30px;
    padding-right: 30px;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 10px;
    font-size: 0.9rem;
    outline: none;
    font-weight: 400;
}


@media (max-width: 768px) {
    header {
        transform: translateY(-100%);
    }

    .navigation-wrapper {
        transition: top 0.1s;
        top: 0;
    }

    .search{
        width: 30px;
        transition: width 0.3s ease;
    }

    .search input{
        width: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
    }
    
}




